<div class="container">
    <h4>Reviews</h4>
    {% if dealerReviewById %}
        {% for review in dealerReviewById %}
            <div class="card w-75">
                <div class="card-body">
                <h5 class="card-title">{{ review.name }}:</h5>
                <p class="card-text">{{ review.review }} </p>
                <span class="badge badge-secondary">{{ review.sentiment }} sentiment</span>
                </div>
            </div>      
            
        {% endfor %}
    {% else %}
        <div>0 Reviews</div>
    {% endif%}

    <hr/>
    {% include "./addreview.html" %}
</div>