<div class="container">
    <h4>Add Review</h4>
    <form method="post" action="{% url 'djangoapp:add_review' dealer_id%}"">
        {% csrf_token %}
        <div class="form-group">
          <label for="username">Name</label>
          <input type="text" width="200" class="form-control" id="" name="username" value="">
        </div>
        <div class="form-group">
            <label for="username">Password</label>
            <input type="text" width="200" class="form-control" id="" name="password" value="">
          </div>
        <div class="form-group">
            <label for="username">Enter review</label><br/>
            <textarea  width="200" name="reviewdetails"></textarea>
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
</div>