{% include "./header.html" %}
{% include "./navigation.html" %}  

<div class="container">
    <h4>Add Review</h4>
    <form method="post" action="{% url 'djangoapp:add_review' dealerId%}">
        {% csrf_token %}
        
        <div class="form-group">
            <label for="username">Enter review</label><br/>
            <textarea class="form-control" id="content" name="content" rows="2" required></textarea>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" name="purchasecheck" id="purchasecheck">
            <label class="form-check-label" for="purchasecheck">Did you purchase car from this dealer?</label>
        <br/><br/>
        </div>
        <div class="form-group">
            <label for="username">Select a car</label>
            <select name="car" id="car" class="form-select" required>
                {% for car in cars %}
                    <option selected value={{car.id}}>{{car.name}}-{{car.make.name}}-{{ car.year|date:"Y" }}</option>
                {% endfor %}
           </select>
        </div>
        <div class="form-group">
            <label for="username">Purchased Date</label>
            <input class="date-own form-control" type="date" name="purchasedate" id="purchasedate">
        </div>
        <button type="submit" class="btn btn-primary">Add Review</button>
      </form>
</div>

{% include "./footer.html" %}