<footer class="text">
    <div class="container">
      
      </div>
  </footer>

  <script type="text/javascript">
    $(function() {
      $('#table').bootstrapTable()

      
      
    })

    $("#purchasecheck").on("click", function(){
        
        if($(this).is(':checked')){
            $("#car").prop('required','required')
            $("#purchasedate").prop('required','required')

            $("#car").prop('disabled', false )
            $("#purchasedate").prop('disabled', false)

        }else{
            $("#car").prop('disabled','disabled')
            $("#purchasedate").prop('disabled','disabled')
        }
    })

    
  </script>
  
</body>

</html>
