<footer class="text">
    
    <div class="container">

       <div class="p-5 d-flex justify-content-center"> Copyright &#169; Dealership Review </div>
      </div>
  </footer>

  <script type="text/javascript">
    $(function() {
      $('#table').bootstrapTable()

      
      
    })

    $("#purchasecheck").on("click", function(){
        
        if($(this).is(':checked')){
            $("#car").prop('disabled', false )
            $("#purchasedate").prop('disabled', false)

        }else{
            $("#car").prop('disabled','disabled')
            $("#purchasedate").prop('disabled','disabled')
        }
    })

    
  </script>
  
</body>

</html>
