{% include "./header.html" %}
{% include "./navigation.html" %}  
     <!--Add a dealer table here -->

{% include "./dealership/dealerslist.html" %}  

    {% if dealerReviewById %}
    <h1>Reviews</h1>
    <ul>
        {% for review in dealerReviewById %}
            <h3>{{review.dealership}}</h3>
            <div>
               Review: {{ review.review }}
            </div>
            <div>
                Reviewer: {{ review.name }}
             </div>
             <div>
                Sentiment: {{ review.sentiment }}
             </div>
            
        {% endfor %}
        </ul>
    {% endif%}

    {% include "./footer.html" %}  

 