{% include "./header.html" %}
{% include "./navigation.html" %}  
     <!--Add a dealer table here -->
    {% if dealerships %}
    
    <ul>
    {% for dealer in dealerships %}
        <div>
            {{ dealer }}            
        </div>
    {% endfor %}
    </ul>
    {% endif %}

    {% if dealerByState %}
        <ul>
        {% for dealer in dealerByState %}
            <div>
                {{ dealer.full_name }} - {{ dealer.st }}            
            </div>
        {% endfor %}
        </ul>
        {% endif %}

    {% if dealerReviewById %}
    <h1>Reviews</h1>
    <ul>
        {% for review in dealerReviewById %}
            <h3>{{review.dealership}}</h3>
            <div>
               Review: {{ review.review }}
            </div>
            <div>
                Reviewer: {{ review.name }}
             </div>
             <div>
                Sentiment: {{ review.sentiment }}
             </div>
            
        {% endfor %}
        </ul>
    {% endif%}

    {% include "./footer.html" %}  

 